<nav class="container-fluid">
    <ul>
        <li><img alt="logo" src="/Images/icons8-education-96.png" /></li>
        <li><strong>Blazor 8 Sandbox</strong></li>
    </ul>
    <ul>
        <li><a href="/"><i class="las la-home"></i> Home</a></li>
        <li><a href="/InternalHost"<i class="las la-server"></i> Host Environment</a></li>
        <li><a href="/OutsideWorld"><i class="las la-map-marked"></i> External World</a></li>
        <li><a href="/"><i class="lab la-markdown"></i> Markdown</a></li>
        <li><a href="https://github.com/dgilleland/Blazor-Sandbox" target="_blank" rel="noopener noreferrer"><i class="lab la-github"></i></a></li>
    </ul>
</nav>