@page "/OutsideWorld"

<h3>ExternalAccess</h3>

<article>
    <p>This page demonstrates a Blazor app's ability to access external resources, such as 3<sup>rd</sup>-Party APIs and other web-based sites and services.</p>
</article>

@code {

}
