@page "/InternalHost"
<h3>InternalHostEnvironment</h3>

<article>
    <p>This page allows you to explore aspects of the host environment (including network-accessible resources on the host).</p>
</article>

@code {

}
